{% extends 'base.html' %}
{% block title %}
  Dr Office Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>

            </tr>
        </thead>
        <tbody>

            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.surname }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}